{% extends "home.html" %}
{% load static %}

{% load static %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}   <!-- trae el codigo del contenido bloqueado en home.html despues del nav -->
    <div style="position: relative; top: 80px">  <!-- class da formato y se pueden repetir en el codigo -->
        <ul>
            <li>{{ user.username }} </li>
            <li>{{ user.email }} </li>
            <li>{{ user.first_name }} </li>
            <li>{{ user.last_name }} </li>
        </ul>
        <a class="btn btn-success" style="text-decoration: none; color: white" href="/AppCoder/perfil/editarPerfil/">Editar Perfil</a>
        <a class="btn btn-success" style="text-decoration: none; color: white" href="/AppCoder/perfil/changeAvatar/">Cambiar Imagen de Perfil</a>
    </div>

{% endblock %}